body {
    background-color: rgb(27, 25, 25);
    text-align: center;
}

h1 {
    color: palegreen;
}

a {
    color: white;
    text-decoration: none;
}

img {
    margin-bottom: 2%;
}

img[src="./img/animate.gif"] {
    width: 500px;
    height: auto;
    margin-top: 3%;
}

button {
    background-color: aquamarine;
    color: red;
    margin: 0.5%;
    padding: 20px;
}

.image {
    display: inline-block;
    padding: 20px;
}

img {
    padding: 20px;
    width: 300px;
    height: 300px;
}

header {
    background-color: black;
    text-align: center;
    padding: 20px;
}

* {
    margin: 0px;
    padding: 0px;
}
